@using MvcStok.Models.EntityFramework
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <strong>Aranacak Müşteri Adı:</strong> @Html.TextBox("p")
        <input type="submit" values="Ara"/>
    </p>
}


<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri AD</th>
        <th>Müşteri Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.MUSTERIID</th>
                <td>@item.MUSTERIAD</td>
                <td>@item.MUSTERISOYAD</td>
                <td> <a href="/MUSTERI/Sil/@item.MUSTERIID" class="btn btn-danger">SİL</a></td>
                <td> <a href="/MUSTERI/MusteriGetir/@item.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/MusteriEkle/" class="btn btn-primary"> YENİ MÜŞTERİ EKLE</a>

