
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri AD</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
    </div>
    <div style="margin-top:10px">
        <label>Müşteri SOYAD</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:12px">
        <button class="btn btn-info">Yeni Müşteri Ekle</button>
    </div>
</form>

