
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yardım</h2>
                <br />
                <p>Bu Proje <strong> Halil İbrahim Gedik</strong> Tarafından Kodlanmıştır. Mvc'ye ilk adım projemdir.
                </p>
                <p>This Project coded by <strong> Halil İbrahim Gedik</strong> This is my first step project on Mvc</p>
            </div>
            <form class="form-group">
                <div style="margin-left:2px">
                    <label> E-mail </label>
                    <input type="text" class="form-control" />
                </div>
                <br />
                <div style="margin-left:2px">
                    <label> Title </label>
                    <input type="text" class="form-control" />
                </div>
                <br />
                <div style="margin-left:2px">
                    <label> Type your ıssue </label>
                    <input type="text" class="form-control" />
                </div>
                <br />
                <div>
                    <button class="btn btn-info">Send</button>
                </div>
            </form>
            <div>
        </div>
    </div>
</div>