
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yardım</h2>
                <br />
                <p>Bu Proje <strong> Halil İbrahim Gedik</strong> Tarafından Kodlanmıştır. Mvc'ye ilk adım projemdir.
                </p>
                <p>This Project coded by <strong> Halil İbrahim Gedik</strong> This is my first step project on Mvc</p>
            </div>
            <form>
                 <div>

                 </div>
            </form>
            <div>
        </div>
    </div>
</div>